services:
  db:
    container_name: comiket-db
    image: postgres:17.5
    volumes:
      - ./dbdata:${PGDATA}
      - ./db/seed.sql:/docker-entrypoint-initdb.d/seed.sql
    ports:
      - 5432:5432
    env_file:
      - .env

  backend:
    container_name: comiket-backend
    build:
      context: .
      dockerfile: ./Dockerfile
    working_dir: /app
    ports:
      - 3000:3000
    volumes:
      - ./:/app
    env_file:
      - .env

volumes:
  dbdata:
